<div class="container">
    
    <header>
       <h1>Product Detail</h1>
    </header>
      
    <nav>
      <ul>
        <li><a href="#">Cartier Rotonde de Cartier Astrotourbillon  </a></li>

       
       
      </ul>
    </nav>
    
    <article>
      <h1>About the Product</h1>
      <p>
       47 mm, manual, niobium-titanium, leather
     <br><br>
        Astrotourbillon and skeleton grande complication.<br><br>
        Rotonde de Cartier Astrotourbillon, 47 mm, Manufacture mechanical movement with manual winding 9460 MC. Niobium-titanium case, beaded crown set with a black spinel cabochon, <br><br>
        
    
        
    </article>
    
    
    
    </div>
    