<div class="container">
    
    <header>
        <h1>Product Detail</h1>
     </header>
      
    <nav>
      <ul>
        <li>Beats</li>
        <li>Headphones</li>
      
      </ul>
    </nav>
    
    <article>
      <h1>About the Product</h1>
      <p>Condition: Refurbished: An item that has been restored to working order. This means the item has been inspected, cleaned, and repaired to full working order and is in excellent condition.<br><br>
    
    Brand: Beat<br><br>
    
    Connector(s): 3.5 mm Jack<br><br>
    
    
    Model: Solo2<br><br>
    
    Warranty: Manufacturer Warranty<br><br>
    
    
    MPN: Does Not Apply<br><br>
    
    
    Duration: 1 year<br><br>
    
    
    Type: Wired<br><br>
    
    
    With or Without Mic: With Mic</p><br><br>
     
    </article>
    
    
    
    </div>