
div.scrollmenu {
    background-color: #7DD5F8;
    overflow: auto;
  
}

div.scrollmenu a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px;

    
}

div.scrollmenu a:hover {
    background-color: #584C4C;
}
body{

    margin: -5px 0px;
}

