<div class="container">
    
    <header>
       <h1>Product Detail</h1>
    </header>
      
    <nav>
      <ul>
          <li>IPhone X</li>
        
       
       
      </ul>
    </nav>
    
    <article>
      <h1>About the Product</h1>
      <p>
     Super Retina Display :
    
    With iPhone X, the device is the display. An all‑new 5.8‑inch Super Retina screen fills the hand and dazzles the eyes.<br><br>
    
      
    OLED Designed for iPhone X : 
    
    The first OLED screen that rises to the standards of iPhone, with accurate, stunning colours, true blacks, high brightness and a 1,000,000 to 1 contrast ratio.
    <br><br>
    
    TrueDepth Camera : 
    
    A tiny space houses some of the most sophisticated technology we’ve ever developed, including the cameras and sensors that enable Face ID.
     <br><br>	
     
        
        
    
        
    </article>
    
    
    
    </div>
    