<body>
    
    <div class="container">
    
    <header>
       <h1>Product Detail</h1>
    </header>
      
    <nav>
      <ul>
        <li><a href="#">Bose Speakers</a></li>
        <img class="lib-img-show" src="http://brain-images.cdn.dixons.com/8/0/10137808/u_10137808.jpg" width="150px" height="200px">     
      
       
      </ul>
    </nav>
    
    <article>
      <h1>About the Product</h1>
      <p>
        Engineered to deliver deep, loud, immersive sound from a small speaker <br><br>
        True 360 degree sound for consistent, uniform coverage<br><br>
        Seamless aluminum body is durable and water-resistant (IPX4)<br><br>
        Enjoy up to 12 hours of play time from a rechargeable, lithium-ion battery<br><br>
        Wireless Bluetooth pairing with voice prompts, take calls and access siri or google now right from your speaker<br><br>
        Pair two speakers together for stereo or party mode playback, multi-connect to two devices to easily swap who controls the music<br><br>
        Deep, immersive, 360 degree sound, seamless aluminum body, durable, water-resistant design (IPX4)<br><br>
    
        
    </article>
    
    
    
    </div>
    
    </body>